h1 {
    color: white;
    background-color: darkgreen;
}
nav ul{
    background-color: lightgreen;
    list-style: none;
    display: flex;
}
nav a{
    display: block;
    border: 1px solid white;
}