header h1 {
    color: white;
    background-color: darkgreen;
    text-align: center;
}
nav ul{
    background-color: lightgreen;
    border: 2px solid darkgreen;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a{
    display: block;
    border-left: 2px solid darkgreen;
    border-right: 2px solid darkgreen;
    padding: 14px;
    text-decoration: none;
}
nav a:hover{
    display: block;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 14px;
    text-decoration: none;
}