body{
    background-color: rgb(118, 209, 118);
}
main{
    background-color: rgb(118, 209, 118);
}
/* Header */
.website-logo{
    max-width: 11.7vw;
    float: left;
    border: 2px solid black;
}
header{
    margin: 0px;
    /* border: 2px solid red; */
    min-height: 15vh;
}
header h1 {
    color: white;
    background-color: darkgreen;
    text-align: center;
    margin: 0px;
    min-height: 10vh;
}

/* Navigation bar */
nav{
    
    margin-top: 0px;
    margin-bottom: 40px;
}
nav ul{
    background-color: lightgreen;
    border: 2px solid darkgreen;
    list-style: none;
    display: flex;
    gap: 2px 5px;
    flex-wrap: wrap;
    justify-content: center;
}
nav a{
    display: block;
    color: white;
    background-color: darkgreen;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 14px;
    /* margin-left: 10px; */
    text-decoration: none;
}
nav a:hover:not(.currentpage){
    /* display: block;
    color:white;
    outline-color: darkgreen; */
    background-color: #079D68;
    border-left: 2px solid white;
    border-right: 2px solid white;
    /* padding: 14px;
    margin-left: 10px;
    text-decoration: none; */
}
nav a.currentpage{
    background-color: darkgray;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
}

/* Index Page */
/* Game Titles */

h2.game-title{
    background-color: darkgreen;
    color: white;
    display: block;
    padding: 14px;
    margin: 0px;
    text-align: center;
}
div.game-index-container{
    clear: both;
    background-color: lightgreen;
    outline: auto;
    outline-color: black;
    min-height: 25vh;
}



/* Game Pictures */

.game-picture{
    max-width: 25vw;
    max-height: 25vh;
    float: left;
    outline: auto;
}


/* Game Descriptions */
p.game-description{
    text-align: center;
    font-size: larger;
}

.light-switch-table{
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
}
.light-switch-table th{
    width: 150px;
    height: 150px;
    background-color: #000000;
}
.light-switch-table caption{
    font-size: larger;
    font-weight: bold;
    border: 2px solid black;
    background-color: lightgreen;
}

.tic-tac-toe-table{
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
}
.tic-tac-toe-table th{
    width: 150px;
    height: 150px;
    background-color: lightgreen;
}
.empty:hover{
    background-color: rgb(165, 252, 165);
}
.tic-tac-toe-table caption{
    font-size: larger;
    font-weight: bold;
    background-color: lightgreen;
}
.tic-tac-toe-form-container{
    text-align: center;
}
.tictactoe-player-customization-form{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0px 32px;
    border: 2px solid #000000;
    background-color: lightgreen;
}
.mastermind-table{
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
}
.mastermind-table th{
    width: 75px;
    height: 75px;
    background-color: lightgreen;
}
.mastermind-table caption{
    font-size: larger;
    border: 2px solid black;
    background-color: lightgreen;
    font-weight: bold;
}
.mastermind-player-table{
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
}
.mastermind-player-table th{
    width: 75px;
    height: 75px;
    background-color: lightgreen;
    font-size: 30px;
}
#Enter{
    font-size: 20px;
}
.mastermind-player-panel:hover{
    background-color: rgb(165, 252, 165);
}
.hidden{
    visibility: hidden;
}
.dont-display{
    display: none;
}
#ticTacToeGameTitle{
    border: 2px solid #000000;
}
.nameInvalid{
    color: white;
    background-color: red;
    font-weight: bold;
}
.instructions-container{
    text-align: center;
    border: 2px solid black;
    background-color: lightgreen;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}
.instructions-container h2{
    color: white;
    background-color: darkgreen;
    text-align: center;
    margin: 0px;
    min-height: 5vh;
}
.instructions-container p{
    font-size: larger;
}
.about-section-container{
    text-align: center;
    border: 2px solid black;
    background-color: lightgreen;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}
.about-section-container h2{
    color: white;
    background-color: darkgreen;
    text-align: center;
    margin: 0px;
    min-height: 5vh;
}
.about-section-container li{
    font-size: larger;
    text-align: justify;
    margin-bottom: 5px;
}
.about-section-container p{
    font-size: larger;
}